In [1]:
import pandas as pd
import numpy as np

In [9]:
import pickle as pkl
import numpy as np
import pandas as pd
import operator
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.model_selection import cross_val_predict, cross_val_score, KFold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer, StandardScaler, MinMaxScaler, PolynomialFeatures
from sklearn.metrics import log_loss, roc_auc_score, f1_score
from xgboost import XGBClassifier

print("Reading data")
orders = pd.read_csv('../data/orders.csv', dtype={"order_id": np.int32, "user_id": np.int32,
                                                  "eval_set": "category", "order_number": np.int32,
                                                  "order_dow": np.int32, "order_hour_of_day": np.int32,
                                                  "days_since_prior_order": np.float32})

product_info = pd.read_csv("../data/products.csv")
print("Finished reading data. Generating features.")

orders["last_order"] = orders.groupby("user_id")["order_id"].shift()

test = orders[(orders['eval_set'] == 'test')]
del orders

all_orders = pd.concat([
    pd.read_csv('../data/order_products__prior.csv', dtype=np.int32, index_col=0),
    pd.read_csv('../data/order_products__train.csv', dtype=np.int32, index_col=0)
]).loc[pd.concat([test["order_id"], test["last_order"]])]

# for each user, generate a list of the items in the last order                                                                                                  
test_products = pd.merge(all_orders, test, left_index=True, right_on="last_order")

test_products = pd.merge(test_products, product_info[["aisle_id", "department_id"]], how="left", left_on="product_id", right_index=True)

test_products["dummy"] = 1
test_products["hour_q"] = test_products["order_hour_of_day"]//6
test_products["1w"] = (test_products["days_since_prior_order"] == 7)
test_products["1m"] = (test_products["days_since_prior_order"] == 30)

Reading data
Finished reading data. Generating features.

/home/joe/kaggle/mercedes/.env/lib/python3.5/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
test.sort_values("order_id")

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,last_order
611292,17,36855,test,5,6,15,1.0,1058761.0
584613,34,35220,test,20,3,11,8.0,2370415.0
3102779,137,187107,test,9,2,19,30.0,3116016.0
1929637,182,115892,test,28,0,11,8.0,353097.0
590591,257,35581,test,9,6,23,5.0,3401153.0
1888538,313,113359,test,31,6,22,7.0,567531.0
2880687,353,173814,test,4,4,13,30.0,659593.0
924638,386,55492,test,8,0,15,30.0,594743.0
2009806,414,120775,test,18,5,14,8.0,2759387.0
556925,418,33565,test,12,0,12,14.0,1953190.0
1298828,437,78090,test,21,0,9,7.0,1607509.0
3157714,452,190409,test,27,2,21,30.0,1329910.0
1989415,474,119489,test,5,3,20,30.0,3272656.0
1537295,492,92343,test,26,2,14,14.0,11822.0
2882881,497,173962,test,8,0,18,0.0,580439.0
2530384,513,152263,test,6,0,10,30.0,1404228.0
1631633,517,97952,test,66,0,16,6.0,898686.0
435727,604,26175,test,28,1,11,12.0,2433104.0
2225890,680,134093,test,9,3,12,2.0,56819.0
2791939,758,168406,test,6,5,11,30.0,2319669.0
862415,759,51823,test,7,5,10,30.0,2270812.0
2123398,887,127711,test,6,5,15,12.0,2386627.0
1484004,1161,89207,test,7,2,14,30.0,3359455.0
2153555,1195,129559,test,4,6,8,30.0,463751.0
2042161,1304,122717,test,4,0,10,30.0,1176335.0
925469,1408,55539,test,19,6,22,30.0,2419133.0
2422033,1513,145723,test,7,4,9,10.0,3032560.0
2026953,1564,121757,test,10,5,10,9.0,285563.0
138409,1727,8326,test,4,4,17,10.0,838505.0
1756309,1789,105402,test,5,5,10,9.0,2871508.0
...,...,...,...,...,...,...,...,...
2938820,3419522,177299,test,33,4,11,1.0,2351997.0
3380545,3419568,203727,test,25,2,14,30.0,1750053.0
28154,3419574,1743,test,37,4,17,13.0,856972.0
3297416,3419600,198711,test,19,6,11,7.0,1858565.0
964246,3419623,57898,test,23,6,17,2.0,373907.0
414162,3419726,24929,test,17,6,2,30.0,742542.0
600738,3419729,36238,test,7,5,8,9.0,2028449.0
1873677,3419732,112471,test,32,6,22,5.0,2757022.0
2373921,3419743,142891,test,8,3,15,23.0,1016698.0
188751,3419832,11420,test,11,2,13,15.0,1325793.0
714394,3419878,43030,test,11,0,16,13.0,1582063.0
2900028,3419910,174995,test,7,2,8,30.0,3054261.0
3009519,3419934,181606,test,5,5,12,15.0,1380697.0
3325117,3420147,200408,test,4,6,10,30.0,2894123.0
1539925,3420168,92494,test,11,0,9,14.0,1852445.0
757108,3420237,45563,test,23,0,15,6.0,1568951.0
1609776,3420327,96653,test,55,6,10,2.0,110567.0
1070042,3420360,64451,test,14,0,12,16.0,2450783.0
2661292,3420390,160195,test,17,5,17,9.0,103646.0
468674,3420443,28253,test,27,6,9,7.0,706341.0
2454634,3420449,147732,test,66,3,9,1.0,1252301.0
549847,3420544,33137,test,23,4,14,14.0,3035112.0
460086,3420569,27693,test,6,5,19,30.0,2979719.0
582863,3420651,35101,test,10,4,12,30.0,1302243.0
1969389,3420702,118279,test,6,6,9,30.0,2992143.0
3248863,3420740,195822,test,73,0,0,3.0,3157219.0
263110,3420877,15955,test,20,3,22,1.0,465695.0
2696027,3420888,162374,test,8,5,17,7.0,1887735.0
1821161,3420989,109358,test,7,6,13,13.0,1234152.0
2552568,3421054,153585,test,9,5,12,7.0,3374984.0

In [11]:
print("Reading trained model")
with open("../scripts/xgb_model.pkl", "rb") as f:
    model, features = pkl.load(f)

print("Generating predictions")
Xt = test_products[features]
probs = model.predict_proba(Xt)
test_products["pred"] = probs[:, 1]

Reading trained model
Generating predictions
Generating baskets

In [15]:
print("Generating baskets")
sub1 = test_products[test_products["pred"] > 0.3].groupby("order_id")["product_id"].apply(lambda x: " ".join(str(int(prod)) for prod in x))
sub1.to_csv("sub1.csv.gz")
sub1.head()

Generating baskets

order_id
17                                                 13107
34              47766 16083 2596 39475 13176 47792 44663
137        44422 29594 25890 24852 41787 23794 5134 2326
182                    5479 47672 9337 39275 32109 33000
257    49235 24852 30233 29837 37646 27104 47547 3947...
Name: product_id, dtype: object

In [16]:
print("Generating baskets")
sub2 = test_products[test_products["pred"] > 0.5].groupby("order_id")["product_id"].apply(lambda x: " ".join(str(int(prod)) for prod in x))
sub2.to_csv("sub2.csv.gz")
sub2.head()

Generating baskets

order_id
257                24852
313    45007 21903 28535
414                20564
418                 5262
437                13176
Name: product_id, dtype: object

In [17]:
print("Generating baskets")
sub3 = test_products[test_products["pred"] > 0.25].groupby("order_id")["product_id"].apply(lambda x: " ".join(str(int(prod)) for prod in x))
sub3.to_csv("sub3.csv.gz")
sub3.head()

Generating baskets

order_id
17                                                 13107
34              47766 16083 2596 39475 13176 47792 44663
137        44422 29594 25890 24852 41787 23794 5134 2326
182                    5479 47672 9337 39275 32109 33000
257    49235 24852 30233 29837 37646 27104 47547 3947...
Name: product_id, dtype: object

In [5]:
samp = pd.read_csv("../data/sample_submission.csv")

In [6]:
samp

       order_id     products
0            17  39276 29259
1            34  39276 29259
2           137  39276 29259
3           182  39276 29259
4           257  39276 29259
5           313  39276 29259
6           353  39276 29259
7           386  39276 29259
8           414  39276 29259
9           418  39276 29259
10          437  39276 29259
11          452  39276 29259
12          474  39276 29259
13          492  39276 29259
14          497  39276 29259
15          513  39276 29259
16          517  39276 29259
17          604  39276 29259
18          680  39276 29259
19          758  39276 29259
20          759  39276 29259
21          887  39276 29259
22         1161  39276 29259
23         1195  39276 29259
24         1304  39276 29259
25         1408  39276 29259
26         1513  39276 29259
27         1564  39276 29259
28         1727  39276 29259
29         1789  39276 29259
...         ...          ...
74970   3419522  39276 29259
74971   3419568  39276 29259
74972   3419574  39276 29259
74973   3419600  39276 29259
74974   3419623  39276 29259
74975   3419726  39276 29259
74976   3419729  39276 29259
74977   3419732  39276 29259
74978   3419743  39276 29259
74979   3419832  39276 29259
74980   3419878  39276 29259
74981   3419910  39276 29259
74982   3419934  39276 29259
74983   3420147  39276 29259
74984   3420168  39276 29259
74985   3420237  39276 29259
74986   3420327  39276 29259
74987   3420360  39276 29259
74988   3420390  39276 29259
74989   3420443  39276 29259
74990   3420449  39276 29259
74991   3420544  39276 29259
74992   3420569  39276 29259
74993   3420651  39276 29259
74994   3420702  39276 29259
74995   3420740  39276 29259
74996   3420877  39276 29259
74997   3420888  39276 29259
74998   3420989  39276 29259
74999   3421054  39276 29259

[75000 rows x 2 columns]